div#content_home {
    position: absolute;
    top: 80px;
    left: 110px; /* 흠 중앙정렬이 안쓰고, 수동으로 맞추는 방식으로 왜 사용했을까....181023 */
    right: 110px;    
}
div#homeimg {
    background:orange;/* #add;*/
    padding: 5px 0 1px 9;
    text-align: center;     /*         django-actor-big.jpg 메인에 빅이미지 중앙정렬됨 , 이거없으면 좌측으로 정렬됨.         */
}



/*  --------------------------------------------------------------
    아래 ds.pv.add 181029
    테이블직접지정해도적용되나, 그냥 #만으로 적용중 
    table#applist {
    #applist {                                   
    --------------------------------------------------------------*/
#applist {
    text-align: center;     
    width: 100%;
    border: 3px solid orange; /* #36c;*/

}

#applist2 { /*          firstchildren사용할줄 몰라서 td에 무식하게 수동박아넣음 -_- 181101          */
    text-align: left;     
}

